:root {
  --fokus-pink: #fd5ca7;
  --fokus-yellow: #dffe58;
  --fokus-blue: #3c3bd7;
  --fokus-cream: #edeae1;
  --fokus-red: #cd0024;
  --fokus-black: #262626;
  --fokus-grey: #cccccc;
  --fokus-white: #ffffff;
}

.App {
}
